#works{
    /* min-height: calc(100vh -  3rem); */
    width :100vw;
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
/* padding: 0 1rem; */
 margin-top: 3rem; 

 /* padding-bottom: 2rem; */

}
.worksTittle{
    margin: 1rem 0;
    font-size: 3rem;
}
.worksDesc{
    font-weight: 500;
    font-size: 1rem;
    /* max-width: 45rem; */
    margin-bottom: 1rem;

}
.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 65rem;
    flex-wrap: wrap;
    /* border-radius: 2rem; */
}
.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    width: 20rem;
    
}
.workBtn{
    padding: 0.5rem 2.5rem;
    border:none;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 2rem ;
    font-weight: 700;
}
@media screen and (max-width:538){
    .worksImg{
        height: 48vw;
    }
}