#resume{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
    /* justify-content: center; */
    /* align-items: center; */
   

.cv{
   height: 50vh;
   font-size: 2rem;
   font-weight: 600;
  
}
.text{
 font-family: 'Lato';
 color: white;
 
}
.download{
    border: none;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem 2rem;

}

