#contactPage {
    /* min-height: calc(100vh - 3rem); */
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.contactPageTittle{
    font-size: 2.5rem;
    margin-bottom: 1rem;

    
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 500;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;

}
.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding :0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(55, 55, 55);
   color: white;
   
}
.SubmitBtn{
    background: white;
    border: none;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 0.5rem 3rem;
    display: block;
    font-size: 1rem;
    font-weight: 700;

}
.links{
    display: flex;
    flex-wrap: wrap;
align-items: center;
    justify-content: center; 
}
.link{
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
    
    text-align: center; 
}